.sidebar{
    width:80px;
    
    position: fixed;
    left:0;
    bottom:0;
    top:55px;
    margin-right:100px;
}
.sidebar-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:76px;
}
.sidebar-image{
height:24;

}
.sidebar-des{
    font-size: 10px;
}