.body {
    margin: 0;
    

}

.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px rgb(9, 0, 0) solid;


}


.left-section {

    display: flex;
    align-items: center;
}

.middle-section {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 70px;
    margin-right: 20px;
    max-width: 500px;
}

.search {
    height: 36px;
    flex: 1;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
    width: 0;
    box-shadow: inset 1px 2px 3px rgba(239, 236, 236, 0.05);

}

.search::placeholder {
    font-family: Roboto;
    font-size: 16px;
}

.search-button {
    height: 36px;
    width: 66px;
    margin-left: -1px;
    background-color: rgb(240, 240, 240);
   
    margin-right: 10px;
    border: 1px solid  rgb(204, 204, 204);

}

.search-image {
    height: 22px;
    margin-top: 4px;
}

.voice-class {
    height: 40px;
    width: 40px;
    border: none;
    background-color: rgb(249, 244, 244);

    border-radius: 20px;
}

.voice-image {
    height: 24px;
    margin-top: 3px;
}

.hamburger_class {
    height: 24px;
    margin-left: 20px;
    margin-right: 20px;
}

.youtube_class {
    height: 20px;
}

.right-section {

    width: 180px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 12px;
    flex-shrink: 0;
}

.upload-class {

    height: 24px;
}

.youtube-app {

    height: 24px;
}

.youtube-logo {
    height: 24px;
}

.channel-class {
    height: 30px;
    margin-right: 20px;
    border-radius: 15px;
}